@use "../config/setting" as *;
/*==========================================================================

# header

========================================================================== */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: $main-color;
  z-index: $header;

  @media (max-width: 1024px) {
    height: 60px;
  }

  &-inner {
    width: 100%;
    padding: 0 10px 0 15px;
    height: inherit;
    display: flex;
    align-items: center;
  }

  &-logo {
    width: 136px;

    a {
      @media (min-width: 1025px) {
        transition: all 0.3s ease 0s;

        &:hover {
          opacity: 0.5;
          transition: all 0.3s ease 0s;
        }
      }
    }
  }

  &-nav {
    margin-left: 28px;

    @media (max-width: 1024px) {
      display: none;
    }

    &-list {
      display: flex;
      @include mq("tab") {
        align-items: center;
      }
    }

    &-item {
      font-weight: bold;

      &:not(:first-child) {
        margin-left: 28px;
      }

      a {
        transition: all 0.3s ease 0s;

        @media (min-width: 1025px) {
          &:hover {
            opacity: 0.5;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }

  &-tel {
    margin-left: auto;
    margin-top: 12px;

    @include mq("tab") {
      margin-top: 8px;
    }

    @media (max-width: 767px) {
      display: none;
    }

    &-text {
      font-size: 12px;
      text-align: right;
      margin-bottom: 8px;
    }

    &-number {
      font-weight: bold;
      position: relative;
      padding-left: 15px;

      @media (min-width: 1025px) {
        &[href^="tel:"] {
          pointer-events: none;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 14.71px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(#{$css-path}img/icon/tel_header.svg) no-repeat center center / contain;
      }
    }
  }

  &-button-list {
    display: flex;
    margin-left: 23px;

    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-right: 65px;
      align-items: center;
    }
  }

  &-button-item {
    a {
      border-radius: 5px;
      font-size: 14px;
      @media (min-width: 1025px) {
        transition: all 0.3s ease 0s;
      }
    }

    &.--download {
      a {
        padding: 18px 43px;
        background-color: $accent-color;
        border: solid 1px $accent-color;
        @media (min-width: 1025px) {
          &:hover {
            background-color: $main-color;
            color: $accent-color;
            transition: all 0.3s ease 0s;
          }
        }

        @include mq("tab") {
          padding: 14px 33px;
        }
      }
    }

    &.--contact {
      margin-left: 8px;
      a {
        background-color: $secondary-color;
        padding: 18px 26px;
        border: solid 1px $secondary-color;
        @media (min-width: 1025px) {
          &:hover {
            background-color: $main-color;
            color: $secondary-color;
            transition: all 0.3s ease 0s;
          }
        }
        @include mq("tab") {
          padding: 14px 19px;
        }
      }
    }
  }
}

/*
# hamburger
==================================== */
.hamburger-icon {
  position: fixed;
  z-index: $hamburger-icon;
  width: 48px;
  height: 48px;
  top: 6px;
  right: 10px;
  display: none;
  border: solid 1px $secondary-color;
  border-radius: 50px;
  background-color: $main-color;
  


  @media (max-width: 1024px) {
    display: block;
  }

  &.is-open {
    transition: all 0.3s ease 0s;

    .hamburger-icon-bar1 {
      transform: rotate(-45deg);
      top: 8px;
      transition: all 0.3s ease 0s;
    }

    .hamburger-icon-bar2 {
      opacity: 0;
      transition: all 0.3s ease 0s;
    }

    .hamburger-icon-bar3 {
      transform: rotate(45deg);
      top: 8px;
      transition: all 0.3s ease 0s;
    }
  }

  &-bars {
    width: 17px;
    height: 17px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-bar1,
  &-bar2,
  &-bar3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $secondary-color;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &-bar2 {
    top: 6px;
  }

  &-bar3 {
    top: 12px;
  }
}

.hamburger-box {
  width: 280px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: $main-color;
  z-index: $hamburger-box;
  transform: translateX(105%);
  transition: all 0.3s ease 0s;

  &.is-open {
    transform: translateX(0);
    transition: all 0.3s ease 0s;
  }

  &-header {
    height: 60px;
  }
}

.hamburger-logo {
  width: 140px;
  padding: 20px 0 0 10px;
}

.hamburger-nav {
  // margin-top: 40px;

  &-item {
    background-color: $secondary-color;
    color: $main-color;
    border-bottom: solid 1px $main-color;

    a {
      display: block;
      padding: 18px 0 18px 10px;
      font-weight: bold;
    }
  }
}

.hamburger-button-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}

.hamburger-button-item {
  width: 110px;

  a {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }

  &.--download {
    a {
      background-color: $accent-color;
    }
  }

  &.--contact {
    a {
      background-color: $secondary-color;
    }
  }
}

.hamburger-tel {
  text-align: center;
  margin-top: 30px;

  &-number {
    font-weight: bold;
    position: relative;
    padding-left: 23px;
    font-size: 26px;

    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 22px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url(#{$css-path}img/icon/tel_header.svg) no-repeat center center / contain;
    }
  }

  &-text {
    margin-top: 10px;
  }
}

.hamburger-background {
  transition: all 0.3s ease 0s;

  &.is-open {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $hamburger-background;
    position: fixed;
    transition: all 0.3s ease 0s;
  }
}
