/*==========================================================================

# 変数定義

========================================================================== */

/*
# 文字太さ
==================================== */

/*
# カラー
==================================== */
$main-color: #fff;
$secondary-color: #1B224C;
$accent-color: #F5A623;

/*
# メディアクエリ
==================================== */
/* インナー幅 */
$pc-inner: 980px;
$sp-inner: 335px;

/*
# ブレイクポイント
==================================== */
$breakpoints: (
  //キー : 値
  "sp": "(max-width: 599px)",
  "tab": "(min-width: 600px) and (max-width: 1024px)",
  "pc": "(min-width: 1025px) and (max-width: 1399px)",
  "pc-lg": "(min-width: 1400)"
) !default;

/*
# メディアクエリ
==================================== */
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
# z-index
==================================== */
$hamburger-icon: 25;
$hamburger-box: 23;
$hamburger-background: 22;
$header: 20;

/*
# パス
==================================== */
$css-path: "../";